<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>protfolio</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" />
    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="../assets/css/default.css">
    <link rel="stylesheet" type="text/css" href="../assets/css/common.css">
    <link rel="stylesheet" type="text/css" href="../assets/css/animate.min.css"/>
    <link rel="stylesheet" type="text/css" href="../assets/css/style.css">
  </head>
  <body>
    <div class="wrap">
        <section class="main-area">
            <div class="main-tit-box">
                <div class="main-tit-reveal" style="--reveal-speed: 0.75;">
                    <span class="tit" style="--delay: 0.9; --color: #000;">WELCOME , <i class="icon">🖐</i></span>
                    <span class="tit" style="--delay: 1.0; --color: #fff;">HAEMI</span>
                    <span class="tit" style="--delay: 1.1; --color: #000;">PORTFOLIO</span>
                </div>
            </div>
        </section>
        <section class="section-area career-area">
            <div class="container">
                <h3 class="tit">CAREER</h3>  
                <article class="career-list-box">
                    <div class="career-list-item">
                        <p class="career-tit point-tit">keep going</p>
                        <span class="line"></span>
                        <div>
                            <strong>프론트엔드 스터디</strong>
                            <span class="tag js">javascript</span>
                            <span class="tag react">react</span>
                        </div>
                    </div>
                    <ul class="career-list">
                        <li class="career-list-item">
                            <p class="career-tit">2021.1 ~</p>
                            <span class="line"></span>
                            <div>
                                <strong>교육 플랫폼</strong>
                                <span class="tag html">html</span>
                                <span class="tag css">css</span>
                                <span class="tag bootstrap">bootstrap</span>
                                <span class="tag jquery">jquery</span>
                            </div>
                        </li>
                        <li class="career-list-item">
                            <p class="career-tit">2020.9 ~ 2021.1</p>
                            <span class="line"></span>
                            <div>
                                <strong>국가 데이터 공공기관</strong>
                                <span class="tag html">html</span>
                                <span class="tag css">css</span>
                                <span class="tag bootstrap">bootstrap</span>
                                <span class="tag jquery">jquery</span>
                            </div>
                        </li>
                        <li class="career-list-item">
                            <p class="career-tit">2019.1 ~ 2020.5 </p>
                            <span class="line"></span>
                            <div>
                                <strong>의료 치과분야</strong>
                                <span class="tag html">html</span>
                                <span class="tag css">css</span>
                                <span class="tag bootstrap">bootstrap</span>
                                <span class="tag jquery">jquery</span>
                            </div>
                        </li>
                        <li class="career-list-item">
                            <p class="career-tit">2018.1 ~ 2018.12 </p>
                            <span class="line"></span>
                            <div>
                                <strong>웹 에이전시</strong>
                                <span class="tag html">html</span>
                                <span class="tag scss">scss</span>
                                <span class="tag jquery">jquery</span>
                            </div>
                        </li>
                    </ul>
                </article>
            </div>
        </section>
        <section class="section-area project-area">
            <div  class="container project-container page">
                <h3 class="tit">PROJECT</h3>  
                <article class="project-box">
                    <ul class="project-list-box">
                        <li class="project-list">
                            <div class="project-img-box">
                                <p class="project-img img01"></p>
                            </div>
                            <ul class="project-cont">
                                <li>
                                    <span class="pj-tit font-bold">사용언어</span>
                                    <p class="txt">
                                        <span class="tag html">html</span>
                                        <span class="tag css">css</span>
                                        <span class="tag jquery">jquery 플러그인</span>
                                    </p>
                                </li>
                                <li>
                                    <span class="pj-tit font-bold">업무포지션 / 참여율</span>
                                    <span class="txt">퍼블리싱 / 100%</span>
                                </li>
                                <li>
                                    <span class="pj-tit font-bold">LINK</span>
                                    <span class="txt">https://www.kpipa.or.kr/cleanBook/main/main.do</span>
                                </li>
                            </ul>
                        </li> <!-- project01 -->
                        <li class="project-list">
                            <div class="project-img-box">
                                <p class="project-img img02"></p>
                            </div>
                            <ul class="project-cont">
                                <li>
                                    <span class="pj-tit font-bold">사용언어</span>
                                    <p class="txt">
                                        <span class="tag html">html</span>
                                        <span class="tag css">css</span>
                                        <span class="tag jquery">jquery 플러그인</span>
                                        <span class="tag bootstrap">bootstrap</span>
                                    </p>
                                </li>
                                <li>
                                    <span class="pj-tit font-bold">업무포지션 / 참여율</span>
                                    <span class="txt">퍼블리싱 / 100%</span>
                                </li>
                                <li>
                                    <span class="pj-tit font-bold">LINK</span>
                                    <span class="txt">https://eehaemii.github.io/designUploadSite/views/intro.html</span>
                                </li>
                            </ul>
                        </li> <!-- project02 -->
                        <li class="project-list">
                            <div class="project-img-box">
                                <p class="project-img img03"></p>
                            </div>
                            <ul class="project-cont">
                                <li>
                                    <span class="pj-tit font-bold">사용언어</span>
                                    <p class="txt">
                                        <span class="tag html">html</span>
                                        <span class="tag scss">scss</span>
                                        <span class="tag jquery">jquery 플러그인</span>
                                    </p>
                                </li>
                                <span class="pj-tit font-bold">업무포지션 / 참여율</span>
                                <span class="txt">퍼블리싱 / 80% [ coomlayout, subpage]</span>
                                <li>
                                    <span class="pj-tit font-bold">LINK</span>
                                    <span class="txt">https://www.ssif.or.kr/</span>
                                </li>
                            </ul>
                        </li> <!-- project03 -->
                        <li class="project-list">
                            <div class="project-img-box">
                                <p class="project-img img04"></p>
                            </div>
                            <ul class="project-cont">
                                <li>
                                    <span class="pj-tit font-bold">사용언어</span>
                                    <p class="txt">
                                        <span class="tag html">html</span>
                                        <span class="tag scss">scss</span>
                                        <span class="tag jquery">jquery 플러그인</span>
                                    </p>
                                </li>
                                <li>
                                    <span class="pj-tit font-bold">업무포지션 / 참여율</span>
                                    <span class="txt">퍼블리싱 / 100%</span>
                                </li>
                                <li>
                                    <span class="pj-tit font-bold">LINK</span>
                                    <span class="txt">http://www.sporexbowl-ts.com/</span>
                                </li>
                            </ul>
                        </li> <!-- project04 -->
                        <li class="project-list">
                            <div class="project-img-box">
                                <p class="project-img img05"></p>
                            </div>
                            <ul class="project-cont">
                                <li>
                                    <span class="pj-tit font-bold">사용언어</span>
                                    <p class="txt">
                                        <span class="tag html">html</span>
                                        <span class="tag scss">scss</span>
                                        <span class="tag jquery">jquery 플러그인</span>
                                    </p>
                                </li>
                                <li>
                                    <span class="pj-tit font-bold">업무포지션 / 참여율</span>
                                    <span class="txt">퍼블리싱 / 100%</span>
                                </li>
                                <li>
                                    <span class="pj-tit font-bold">LINK</span>
                                    <span class="txt">http://t0030.ideapm.com/</span>
                                </li>
                            </ul>
                        </li> <!-- project05 -->
                        <li class="project-list">
                            <div class="project-img-box">
                                <p class="project-img img06"></p>
                            </div>
                            <ul class="project-cont">
                                <li>
                                    <span class="pj-tit font-bold">사용언어</span>
                                    <p class="txt">
                                        <span class="tag html">html</span>
                                        <span class="tag scss">scss</span>
                                        <span class="tag jquery">jquery 플러그인</span>
                                    </p>
                                </li>
                                <li>
                                    <span class="pj-tit font-bold">업무포지션 / 참여율</span>
                                    <span class="txt">퍼블리싱 / 100%</span>
                                </li>
                                <li>
                                    <span class="pj-tit font-bold">LINK</span>
                                    <span class="txt">http://t0026.ideapm.com/</span>
                                </li>
                            </ul>
                        </li> <!-- project06 -->
                        <li class="project-list">
                            <div class="project-img-box">
                                <p class="project-img img07"></p>
                            </div>
                            <ul class="project-cont">
                                <li>
                                    <span class="pj-tit font-bold">사용언어</span>
                                    <p class="txt">
                                        <span class="tag html">html</span>
                                        <span class="tag scss">scss</span>
                                        <span class="tag jquery">jquery 플러그인</span>
                                    </p>
                                </li>
                                <li>
                                <span class="pj-tit font-bold">업무포지션 / 참여율</span>
                                <span class="txt">퍼블리싱 / 100%</span>
                                </li>
                                <li>
                                    <span class="pj-tit font-bold">LINK</span>
                                    <span class="txt">http://t0005.ideapm.com/</span>
                                </li>
                            </ul>
                        </li> <!-- project07 -->
                        <li class="project-list">
                            <div class="project-img-box">
                            <p class="project-img img08"></p>
                            </div>
                            <ul class="project-cont">
                            <li>
                                <span class="pj-tit font-bold">사용언어</span>
                                <p class="txt">
                                    <span class="tag html">html</span>
                                    <span class="tag scss">scss</span>
                                    <span class="tag jquery">jquery 플러그인</span>
                                </p>
                            </li>
                            <li>
                                <span class="pj-tit font-bold">업무포지션 / 참여율</span>
                                <span class="txt">퍼블리싱 / 100%</span>
                            </li>
                            <li>
                                <span class="pj-tit font-bold">LINK</span>
                                <span class="txt">http://t0001.ideapm.com/</span>
                            </li>
                        </ul>
                        </li> <!-- project08 -->
                    </ul>
                </article>
                <div class="last-content" data-delay="500">
                    <p class="text">THANK YOU <span class="icon">☺</span></p>
                </div>
            </div>
        </section>
    </div>
    <script src="../assets/js/jquery-3.6.0.min.js"></script>
    <script src="../assets/js/typed.js"></script>
    <script src="../assets/js/common.js"></script>
  </body>
</html>