@charset "utf-8"; 

/* *******************************************************
    filename : style.css
    description : all layout CSS
******************************************************** */

/* ==================== import ====================== */
@import url('https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css');
@import 'mixin';

/* ==================== html, body stylings ====================== */
html{overflow: hidden;}
body {
    @include fullBox; 
    font-size: 15px;
    word-spacing:-0.025em;
    overflow: overlay;
    font-family: NanumSquareR,'Roboto', sans-serif;
    -webkit-text-size-adjust: none;
    -webkit-font-smoothing: antialiased!important;
    text-rendering: optimizeLegibility!important;
    -moz-osx-font-smoothing: grayscale;
}

/* variables =================================== */
.inner{@include fullBox; display: block; position: relative; max-width: 1290px;  margin: 0 auto;}
.container{
    @include boxsizing;
    @include fullBox;  
    padding: 3%;
}
.project-container{background-color:$masterColor;}

// 스크롤
html{scroll-behavior: smooth;}
::-webkit-scrollbar {width: 10px;}
::-webkit-scrollbar-thumb {
    background-color: #2f3542;
    border-radius: 10px;
    background-clip: padding-box;
    border: 2px solid transparent;
}
::-webkit-scrollbar-track {
    background-color: grey;
    border-radius: 10px;
    box-shadow: inset 0px 0px 5px white;
}

/* content stylings =================================== */
// common styling
.section-area{
    @include flexCenter;
    @include fullBox;
    @include breakPoint($tabletPoint){
      display: block;
    }
    .tit{
        @include boxsizing();
        width: 100%; 
        padding: 1em;
        font-size: 4em; 
        font-weight: bold;
        @include breakPoint($tabletPoint){
            @include boxsizing();
            width: 100%;
            padding: 15px;
            font-size: 2.5em;
        }
        @include breakPoint(420px){
            padding: 15px;
        }
    }
}

.tag{
    display: inline-block;
    margin-bottom: 5px;
    padding: 3px 10px; 
    background-color: #eee;
    border-radius: 10px; 
    font-size: 0.7em;
    word-break: break-word;
    &.html{background-color:rgba(243, 88, 37, 0.2);}
    &.css{background-color:rgba(0, 123, 201, 0.2);}
    &.scss{background-color:rgba(175, 0, 219, 0.2);}
    &.jquery{background-color:rgba(0, 84, 237 ,0.2);}
    &.bootstrap{background-color: rgba(86, 61, 124, 0.2);}
    &.js{background-color: rgba(247, 224, 24, 0.2);}
    &.react{background-color: rgba(11, 216, 255, 0.2);}
}

// main styling
.main-area{
    @include fullBox;
    position: relative;
    width: 100%; height: 100vh;
    background-color: $masterColor;
    h1 {
        @include position(absolute,20px,50px,auto,auto);
        font-weight: bold;
        font-size: 15vmin;
        text-align: right;
        color: rgba(207,216,220,0.02);
        letter-spacing: 4px;
        p{line-height: 1;}
    }
    .main-tit-box{
        @include position(absolute,auto,auto,10%,10%);
        text-align: left;
        .typed{font-size: 10vmin; color: $masterWiteColor;}
    }
    .typed-cursor{opacity: 0;}
  }

  :root {--base-delay: 0.5;--reveal-speed: 0.5;--stagger: 0.1;}
  .main-tit-reveal {
    align-items: flex-start;
    display: inline-flex;
    flex-direction: column;
    .tit{
        position: relative;
        -webkit-animation: show-text calc(var(--reveal-speed, 0.5) * 1s) calc(var(--delay) * 1s) steps(1) both;
        animation: show-text calc(var(--reveal-speed, 0.5) * 1s) calc(var(--delay) * 1s) steps(1) both;
        font-size: 8vmin; 
        font-weight: bold;
        overflow: hidden;
        letter-spacing: 6px;
        &:after{
            @include position(absolute,0,0,0,0);
            content: '';
            background: var(--color, #1e90ff);
            -webkit-animation: block-reveal calc(var(--reveal-speed, 0.5) * 1s) calc(var(--delay) * 1s) both;
                    animation: block-reveal calc(var(--reveal-speed, 0.5) * 1s) calc(var(--delay) * 1s) both;
        }
    }
  }

@-webkit-keyframes block-reveal {
    0% {
      -webkit-transform: translate(-110%, 0);
              transform: translate(-110%, 0);
    }
    45%, 55% {
      -webkit-transform: translate(0, 0);
              transform: translate(0, 0);
    }
    100% {
      -webkit-transform: translate(110%, 0);
              transform: translate(110%, 0);
    }
}
@keyframes block-reveal {
    0% {
      -webkit-transform: translate(-110%, 0);
              transform: translate(-110%, 0);
    }
    45%, 55% {
      -webkit-transform: translate(0, 0);
              transform: translate(0, 0);
    }
    100% {
      -webkit-transform: translate(110%, 0);
              transform: translate(110%, 0);
    }
}
@-webkit-keyframes show-text {
    0% {color: transparent;}
    50%, 100% {color: rgba(250,250,250,0.3);}
}
@keyframes show-text {
    0% {color: transparent;}
    50%, 100% {color: rgba(250,250,250,0.3);}
}
    

// career styling 
.career-list-box{
    @include boxsizing();
    width: 100%;
    padding: 55px;
    justify-content: center;
    @include breakPoint(1280px){
        width: 100%;
    }
    @include breakPoint(425px){
       padding:40px 15px;
    }
    .career-list-item{
        @include boxsizing();
        @include flexCenter;
        position: relative;
        width: calc(100%/2 - 15px);
        margin: 0 15px 20px 0;
        padding: 2em;
        background-color: $masterWiteColor;
        box-shadow: 1px solid ;
        border-radius: 10px;
        box-shadow: 0px 1px 3px #dcdcdc;
        text-align: left;
        @include breakPoint(1280px){
            display: block;
            width: 100%;
            margin-right:0;
            text-align: center;
        }
        &:after{
            @include position(absolute,0,auto,0,0);
            content:""; 
            display: block; 
            width: 4px; 
            height: 100%; 
            background-color: #498ce8;
            border-top-left-radius: 10px;
            border-bottom-left-radius: 10px;
        }
    }
    .career-list{display: flex;flex-wrap: wrap;}
    .career-tit{
        width: 180px;font-size: 1em; color: $masterFontColor;
        @include breakPoint(1280px){
            width: 100%;
        }
    }
    strong{display: block;padding-bottom: 8px; font-size: 1.2em;}
    .line{
        display: inline-block; 
        width: 60px;
        height: 1px; 
        margin-right: 30px; 
        background-color: #ccc;;
        @include breakPoint(1280px){
            margin: 10px 0;
        }
    }
    .point-tit{
        font-size: 1.5em; 
        font-weight: bold; 
        color: $masterColor;
    }
}

// project styling
.project-area{
  @include boxsizing();
  .tit{color: $masterWiteColor}
  .project-box{width: 100%;}
}
.project-list-box{
    display: flex;
    width: 100%;
    border-radius: 10px;
    flex-wrap: wrap;
    .project-list{
        @include flexCenter();
        position: relative; 
        width: calc(100%/3 - 45px);
        margin: 0 15px 15px 0;
        padding: 15px;
        border-radius: 10px;
        background-color: $masterWiteColor;
        overflow: hidden;
        @include breakPoint(1220px){
            display: block;
            width: calc(100%/3 - 15px);
            padding: 0;
        }
        @include breakPoint(920px){
            display: block;
            width: calc(100%/2 - 15px);
            padding: 0;
        }
        .project-cont{
            @include boxsizing();
            width: 50%;
            padding: 10px;
            text-align: left;
            @include breakPoint(1220px){
                display: block;
                width: 100%;
                text-align: center;
            }
            .pj-cont-tit{padding-bottom: 15px;}
            .pj-tit{
                display: block; padding: 10px 0; font-size: 0.89em;
                @include breakPoint($tabletPoint){
                    padding: 12px 0;
                }
            }
            .txt{display: block; font-size: 0.8em;}
            .tag{font-size: 0.89em;}
        }
        .project-img-box{
            width: 50%;
            height: 20vh;
            margin: 0 15px;
            border: 1px solid #ccc;
            border-radius: 10px;
            overflow: hidden;
            @include breakPoint(1220px){
                display: block;
                width: 100%;
                margin: 0;
                padding: 0;
            }
        }
        .project-img{
            @include backgroundPosition(); 
            width: 100%; 
            height: 20vh; 
            border-bottom-left-radius: 10px; 
            border-bottom-right-radius: 10px; 
            transition: background-position 2000ms ease-in-out;
            @include breakPoint(1220px){
                display: block;
                width: 100%;
                margin: 0;
                padding: 0;
            }
            &.img01{@include backgroundImg(theme01);}
            &.img02{@include backgroundImg(theme02);}
            &.img03{@include backgroundImg(theme03);}
            &.img04{@include backgroundImg(theme04);}
            &.img05{@include backgroundImg(project01);}
            &.img06{@include backgroundImg(project02);}
            &.img07{@include backgroundImg(project03);}
            &.img08{@include backgroundImg(project04);}
            &:hover,&:active{
                &{background-position: bottom center;}
            }
        }
    }
}



