@charset "UTF-8";
/* *******************************************************
    filename : style.css
    description : all layout CSS
******************************************************** */
/* ==================== import ====================== */
@import url("https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css");
/* boxsizing*/
/* input area */
/* ==================== html, body stylings ====================== */
html {
  overflow: hidden;
}

body {
  width: 100%;
  height: 100%;
  font-size: 15px;
  word-spacing: -0.025em;
  overflow: overlay;
  font-family: NanumSquareR, "Roboto", sans-serif;
  -webkit-text-size-adjust: none;
  -webkit-font-smoothing: antialiased !important;
  text-rendering: optimizeLegibility !important;
  -moz-osx-font-smoothing: grayscale;
}

/* variables =================================== */
.inner {
  width: 100%;
  height: 100%;
  display: block;
  position: relative;
  max-width: 1290px;
  margin: 0 auto;
}

.container {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 3%;
}

.project-container {
  background-color: #2d3862;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #2f3542;
  border-radius: 10px;
  background-clip: padding-box;
  border: 2px solid transparent;
}

::-webkit-scrollbar-track {
  background-color: grey;
  border-radius: 10px;
  box-shadow: inset 0px 0px 5px white;
}

/* content stylings =================================== */
.section-area {
  display: flex;
  align-items: center;
  -webkit-align-items: center;
  width: 100%;
  height: 100%;
}
@media all and (min-width: 0px) and (max-width: 1000px) {
  .section-area {
    display: block;
  }
}
.section-area .tit {
  box-sizing: border-box;
  width: 100%;
  padding: 1em;
  font-size: 3em;
  font-weight: bold;
}
@media all and (min-width: 0px) and (max-width: 1000px) {
  .section-area .tit {
    box-sizing: border-box;
    width: 100%;
    padding: 15px;
    font-size: 2.5em;
  }
}
@media all and (min-width: 0px) and (max-width: 420px) {
  .section-area .tit {
    padding: 15px;
  }
}

.tag {
  display: inline-block;
  margin-bottom: 5px;
  padding: 3px 10px;
  background-color: #eee;
  border-radius: 10px;
  font-size: 0.7em;
  word-break: break-word;
}
.tag.html {
  background-color: rgba(243, 88, 37, 0.2);
}
.tag.css {
  background-color: rgba(0, 123, 201, 0.2);
}
.tag.scss {
  background-color: rgba(175, 0, 219, 0.2);
}
.tag.jquery {
  background-color: rgba(0, 84, 237, 0.2);
}
.tag.bootstrap {
  background-color: rgba(86, 61, 124, 0.2);
}
.tag.js {
  background-color: rgba(247, 224, 24, 0.2);
}
.tag.react {
  background-color: rgba(11, 216, 255, 0.2);
}

.main-area {
  width: 100%;
  height: 100%;
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: #2d3862;
}
.main-area h1 {
  position: absolute;
  top: 20px;
  right: 50px;
  bottom: auto;
  left: auto;
  font-weight: bold;
  font-size: 15vmin;
  text-align: right;
  color: rgba(207, 216, 220, 0.02);
  letter-spacing: 4px;
}
.main-area h1 p {
  line-height: 1;
}
@media all and (min-width: 0px) and (max-width: 720px) {
  .main-area h1 {
    font-size: 12vmin;
  }
}
.main-area .main-tit-box {
  position: absolute;
  top: auto;
  right: auto;
  bottom: 10%;
  left: 10%;
  text-align: left;
}
.main-area .main-tit-box :root {
  --base-delay: 0.5;
  --reveal-speed: 0.5;
  --stagger: 0.1;
}
.main-area .main-tit-box .main-tit-reveal {
  align-items: flex-start;
  display: inline-flex;
  flex-direction: column;
}
.main-area .main-tit-box .main-tit-reveal .tit {
  position: relative;
  -webkit-animation: show-text calc(var(--reveal-speed, 0.5) * 1s) calc(var(--delay) * 1s) steps(1) both;
  animation: show-text calc(var(--reveal-speed, 0.5) * 1s) calc(var(--delay) * 1s) steps(1) both;
  font-size: 8vmin;
  font-weight: bold;
  overflow: hidden;
  letter-spacing: 6px;
}
.main-area .main-tit-box .main-tit-reveal .tit:after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: "";
  background: var(--color, #1e90ff);
  -webkit-animation: block-reveal calc(var(--reveal-speed, 0.5) * 1s) calc(var(--delay) * 1s) both;
  animation: block-reveal calc(var(--reveal-speed, 0.5) * 1s) calc(var(--delay) * 1s) both;
}

@-webkit-keyframes block-reveal {
  0% {
    transform: translate(-110%, 0);
  }
  45%, 55% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(110%, 0);
  }
}
@keyframes block-reveal {
  0% {
    transform: translate(-110%, 0);
  }
  45%, 55% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(110%, 0);
  }
}
@-webkit-keyframes show-text {
  0% {
    color: transparent;
  }
  50%, 100% {
    color: rgba(250, 250, 250, 0.3);
  }
}
@keyframes show-text {
  0% {
    color: transparent;
  }
  50%, 100% {
    color: rgba(250, 250, 250, 0.3);
  }
}
.career-list-box {
  box-sizing: border-box;
  width: 100%;
  padding: 55px;
  justify-content: center;
}
@media all and (min-width: 0px) and (max-width: 1280px) {
  .career-list-box {
    width: 100%;
  }
}
@media all and (min-width: 0px) and (max-width: 425px) {
  .career-list-box {
    padding: 40px 15px;
  }
}
.career-list-box .career-list-item {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  -webkit-align-items: center;
  position: relative;
  width: calc(100%/2 - 15px);
  margin: 0 15px 20px 0;
  padding: 2em;
  background-color: #fff;
  box-shadow: 1px solid;
  border-radius: 10px;
  box-shadow: 0px 1px 3px #dcdcdc;
  text-align: left;
}
@media all and (min-width: 0px) and (max-width: 1280px) {
  .career-list-box .career-list-item {
    display: block;
    width: 100%;
    margin-right: 0;
    text-align: center;
  }
}
.career-list-box .career-list-item:after {
  position: absolute;
  top: 0;
  right: auto;
  bottom: 0;
  left: 0;
  content: "";
  display: block;
  width: 4px;
  height: 100%;
  background-color: #498ce8;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.career-list-box .career-list {
  display: flex;
  flex-wrap: wrap;
}
.career-list-box .career-tit {
  width: 180px;
  font-size: 1em;
  color: #ababab;
}
@media all and (min-width: 0px) and (max-width: 1280px) {
  .career-list-box .career-tit {
    width: 100%;
  }
}
.career-list-box strong {
  display: block;
  padding-bottom: 8px;
  font-size: 1.2em;
}
.career-list-box .line {
  display: inline-block;
  width: 60px;
  height: 1px;
  margin-right: 30px;
  background-color: #ccc;
}
@media all and (min-width: 0px) and (max-width: 1280px) {
  .career-list-box .line {
    margin: 10px 0;
  }
}
.career-list-box .point-tit {
  font-size: 1.5em;
  font-weight: bold;
  color: #2d3862;
}

.project-area {
  box-sizing: border-box;
}
.project-area .tit {
  color: #fff;
}
.project-area .project-box {
  width: 100%;
}

.project-list-box {
  display: flex;
  width: 100%;
  border-radius: 10px;
  flex-wrap: wrap;
}
.project-list-box .project-list {
  display: flex;
  align-items: center;
  -webkit-align-items: center;
  position: relative;
  width: calc(100%/3 - 45px);
  margin: 0 15px 15px 0;
  padding: 15px;
  border-radius: 10px;
  background-color: #fff;
  overflow: hidden;
}
@media all and (min-width: 0px) and (max-width: 1220px) {
  .project-list-box .project-list {
    display: block;
    width: calc(100%/3 - 15px);
    padding: 0;
  }
}
@media all and (min-width: 0px) and (max-width: 920px) {
  .project-list-box .project-list {
    width: calc(100%/2 - 15px);
  }
}
@media all and (min-width: 0px) and (max-width: 720px) {
  .project-list-box .project-list {
    width: 100%;
  }
}
.project-list-box .project-list .project-cont {
  box-sizing: border-box;
  width: 50%;
  padding: 10px;
  text-align: left;
}
@media all and (min-width: 0px) and (max-width: 1220px) {
  .project-list-box .project-list .project-cont {
    display: block;
    width: 100%;
    text-align: center;
  }
}
.project-list-box .project-list .project-cont .pj-cont-tit {
  padding-bottom: 15px;
}
.project-list-box .project-list .project-cont .pj-tit {
  display: block;
  padding: 10px 0;
  font-size: 0.89em;
}
@media all and (min-width: 0px) and (max-width: 1000px) {
  .project-list-box .project-list .project-cont .pj-tit {
    padding: 12px 0;
  }
}
.project-list-box .project-list .project-cont .txt {
  display: block;
  font-size: 0.8em;
}
.project-list-box .project-list .project-cont .tag {
  font-size: 0.89em;
}
.project-list-box .project-list .project-img-box {
  width: 50%;
  height: 20vh;
  margin: 0 15px;
  border: 1px solid #ccc;
  box-shadow: 0px ​4px 5px #ccc;
  border-radius: 10px;
  overflow: hidden;
}
@media all and (min-width: 0px) and (max-width: 1220px) {
  .project-list-box .project-list .project-img-box {
    display: block;
    width: 100%;
    margin: 0;
    padding: 0;
  }
}
.project-list-box .project-list .project-img {
  transition: background-position 2000ms ease-in-out;
  width: 100%;
  height: 20vh;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  transition: background-position 2000ms ease-in-out;
}
@media all and (min-width: 0px) and (max-width: 1220px) {
  .project-list-box .project-list .project-img {
    display: block;
    width: 100%;
    margin: 0;
    padding: 0;
  }
}
.project-list-box .project-list .project-img.img01 {
  background-image: url(../images/theme01.jpg);
  background-position: center top;
  background-size: cover;
}
.project-list-box .project-list .project-img.img02 {
  background-image: url(../images/theme02.jpg);
  background-position: center top;
  background-size: cover;
}
.project-list-box .project-list .project-img.img03 {
  background-image: url(../images/theme03.jpg);
  background-position: center top;
  background-size: cover;
}
.project-list-box .project-list .project-img.img04 {
  background-image: url(../images/theme04.jpg);
  background-position: center top;
  background-size: cover;
}
.project-list-box .project-list .project-img.img05 {
  background-image: url(../images/project01.jpg);
  background-position: center top;
  background-size: cover;
}
.project-list-box .project-list .project-img.img06 {
  background-image: url(../images/project02.jpg);
  background-position: center top;
  background-size: cover;
}
.project-list-box .project-list .project-img.img07 {
  background-image: url(../images/project03.jpg);
  background-position: center top;
  background-size: cover;
}
.project-list-box .project-list .project-img.img08 {
  background-image: url(../images/project04.jpg);
  background-position: center top;
  background-size: cover;
}
.project-list-box .project-list .project-img:hover, .project-list-box .project-list .project-img:active {
  background-position: bottom center;
}

.last-content {
  box-sizing: border-box;
  padding: 2em 2em 1em;
  text-align: center;
}
.last-content .text {
  font-size: 1.5em;
  color: #fff;
}
.last-content span {
  display: inline-block;
  margin-left: 10px;
  -webkit-animation: shake 0.6s infinite alternate;
  animation: shake 0.6s infinite alternate;
  transform-origin: 50% 100%;
}

@-webkit-keyframes shake {
  0% {
    -webkit-transform: rotateZ(3deg);
  }
  100% {
    -webkit-transform: rotateZ(-3deg);
  }
}
@keyframes shake {
  0% {
    transform: rotateZ(3deg);
  }
  100% {
    transform: rotateZ(-3deg);
  }
}/*# sourceMappingURL=style.css.map */